body {
  max-width: 1284px;
  margin: 0 auto;
}

body .item {
  display: flex;
  align-items: flex-start;
  margin: 0px auto 16px;
}

body .item .live-rank {
  display: flex;
  height: 138px;
  width: 100px;
  justify-content: center;
  align-items: center;
}

body .item .live-rank p {
  font-family: "Lobster", cursive;
  font-size: 2em;
}

body .item .live-thumbnails a > img {
  height: 138px;
  width: 246px;
  margin-right: 16px;
}

body .item .live-info {
  width: 922px;
}

body .item .live-info p > a {
  text-decoration: none;
}

body .item .live-info .videoTitle {
  margin-top: 0px;
  margin-bottom: 0px;
}

body .item .live-info .videoTitle a {
  font-size: 18px;
  color: #000;
}

body .item .live-info .videoInfo,
body .item .live-info .videoDetail {
  font-size: 13px;
}

body .item .live-info .videoInfo {
  margin-top: 0px;
}

body .item .live-info .videoInfo a {
  color: #000;
}

body .item .live-info .videoInfo > a:hover {
  color: #aaa;
}

body .item .live-info .videoDetail {
  margin-bottom: 0px;
  word-break: break-all;
}

