body {
    max-width: 1284px;
    margin: 0 auto;

    h1 {
        display: flex;
        justify-content: center;
        //height: 1.5em;
        
        p {
            margin: 0 auto;
            padding: 10px;
            color: white;
            background-color: red;
            font-family: 'Lobster', cursive;
            font-size: 1.5em;
            text-align: center;
            border-radius: 10px;
        }
    }

    .item {
        display: flex;
        align-items: flex-start;
        margin: 0px auto 16px;

        .live-rank {
	    display: flex;
            height: 138px;
            width: 100px;
	    justify-content: center;
	    align-items: center;
	    p {
		font-family: 'Lobster', cursive;
		font-size: 2em;
		//text-align: center;
	    }
        }

        .live-thumbnails {
            a > img {
                height: 138px;
                width: 246px;
                margin-right: 16px;
            }
        }

        .live-info {
            width: 922px;

            p > a {
                text-decoration: none;
            }

            .videoTitle {
                margin-top: 0px;
                margin-bottom: 0px;
                a {
                    font-size: 18px;
                    color: #000;
                }
            }

            .videoInfo, .videoDetail {
                font-size: 13px;
            }

            .videoInfo {
                margin-top: 0px;
                a {
                    color: #000;
                }
            }

            .videoInfo > a:hover {
                color: #aaa;
            }

            .videoDetail {
                margin-bottom: 0px;
                word-break:break-all;
            }
        }
    }
}
